
	<!-- <img src="/images/placeholder.jpg" width="100%"/><br><br> -->

	<div class="landscapefill"></div>
	<div class="portraitfill"></div>
	<h1 class="abouth">TAKE ME ON AN ADVENTURE</h1>

	

<div class="container">
	<div class="aboutdescription">
 <div ng-controller="NavCtrl">
  <p>
  	Project Fogg is a project ideated and developed as a final project for The Forge program at AKQA in San Francisco by <a href="http://www.sarahelizabethwever.com" class="colorlink">Sarah Wever</a>. Inspired by the thoughts and journeys of <a href="http://www.flatstanleyproject.com/" class="colorlink">Flat Stanley</a> and <a href="http://www.vogue.com/1066597/karlie-kloss-3-d-printing-journey/" class="colorlink">Karlie Kloss</a>, Project Fogg aims to make use of 3D printing technology to allow any one to go on a spontaneous journey around the world (in 80 days perhaps?) in a parallel universe to your daily life. To view the stories being generated so far, be sure to check out all of our current <a href='' ng-click="loadStories()" class="colorlink">active stories</a>. To contribute, be sure to keep your eye out for one of our jars as you never know when you'll have the chance to make an impact on an ongoing epic journey!
 	</p>
 
<!-- 	<center>
	<div ng-controller="NavCtrl">
		<h3>Find a Jar?</h3>
		<a href='' ng-click="loadUpload()"><h4>What now?</h4></a>
	</div>	
	</center> -->

</div>
	

</div>
</div>
 <div ng-controller="NavCtrl">
  <button class="btn btn-default whatnow" ng-click="loadUpload()"> FIND A JAR? >></button>
</div>
   